[
	{sasl, [
		{sasl_error_logger, false},
		{errlog_type, error},
		{error_logger_mf_dir, "./logs"},
		{error_logger_mf_maxbytes, 10485760},
		{error_logger_mf_maxfiles, 10}
	]},
	{game_server, [
		{md5_key, "dev_s001a_123!@qwe"},
		{web_key, "X4nzMWtPSvV9gouy"},
		{channel, "local"},
		{server_flag, "world001"},
		{open_date, 20210519},
		{open_time, 1100},
		{combine_time, 0},
		{combine_date, 20191119},
		{server_port, 6010},
		{accept_amount, 10},
		{max_connect, 4000},
		{allow_ips,["127.0.0.1"]},
		{mongo_host, "192.168.18.200"},
		{mongo_port, 25009},
		{mongo_db, <<"world_mmo">>},
		{mongo_back, <<"world_backstage">>},
		{mysql_host, "192.168.18.200"},
		{mysql_port, 32009},
		{mysql_usr, "root"},
		{mysql_pwd, "Rocv~*MM"},
		{mysql_serialdb, "back_stream"},
		{mysql_encode, utf8},
		{center, "http://192.168.18.200:3010"},
		{center_req_url, "/connector/server"},
		{center_key, "bfe57445e8cf98ae53732bf5412ab0b1"},
		{server_type, world},	%% 服务器类型, 可选： game,cluster,world,test,merge	(game:游戏服,cluster:跨服,world:世界服,test:测试游戏服, merge:合服程序)
		{gm_cmd, 1},		%% 测试命令开关,默认关闭
		{log_level, 6},		%% 正式时填 4
		{master, ["192.168.16.232", 25004, <<"fy002_mmo">>, <<"fy002_backstage">>]},    %% 合服主库地址
		{slave, [   %% 合服的源单服地址
			["192.168.16.232", 25004, <<"mmo">>, <<"backstage">>],
			["192.168.16.232", 25004, <<"fy001_mmo">>, <<"fy001_backstage">>]
		]},
		{merge_mongo_pool, 30},
		{merge_batchsize, 300},
		{remove_master, 1}, %% 1 清除主库, 0 不清除
		{remove_slave, 0},  %% 1 删除源服不需要合服的角色
		{merge, 1},     %% 1 执行合服操作
		{person, 0},    %% 1 玩家数据迁移
		{copy_players, []},     %%要迁移的玩家ID，以字符串格式填写
		{remove_merge_login, [7, 60]}   %% 未登录超过7天且等级低于60级的删除
	]}
].